.ctg-list-table th {
    background: #046491;
    color: #ffffff !important;
}

.ctg-list-table td {
    border-bottom: 1px solid #bebbbb;
    vertical-align: middle;
}

.ctg-list-table td.ctg-title-cell {
    width: 25%;
}

.ctg-list-table .ctg-text-right {
    text-align: right;
}

.ctg-list-table .ctg-text-center {
    text-align: center;
}

.ctg-list-table td span {
    font-size: 16px;
}

.ctg-list-table td span.yes {
    color: #047216
}

.ctg-list-table td span.no {
    color: #8d051b
}

.ctg-list-table tr.ctg-custom-sizes-row {
    background-color: #ecefef;
    font-weight: 500;
}

.ctg-image-size-register-by {
    color: #acacac !important;
    font-weight: 100 !important;
}

.ctg-form-container {
    width: 40%;
    border: 1px solid lightgray !important; 
    box-sizing: border-box;
    padding: 1em;
}

.ctg-form-container legend h3 {
    font-weight: 400;
    font-size: 16px;
}

.ctg-form-table th {
    color: #564475;
    text-align: right;
    text-transform: capitalize;
}

.ctg-form-table th, .ctg-form-table td {
    padding: 10px;
    box-sizing: border-box;
}

.ctg-common-error {
    color: #cc0000;
    font-weight: 500;
}