.ctg-list-table th {
    background: #046491;
    color: #ffffff !important;
}

.ctg-list-table td {
    border-bottom: 1px solid #bebbbb;
    vertical-align: middle;
}

.ctg-list-table td.ctg-title-cell {
    width: 25%;
}

.ctg-list-table .ctg-text-right {
    text-align: right;
}

.ctg-list-table .ctg-text-center {
    text-align: center;
}

.ctg-list-table td span {
    font-size: 16px;
}

.ctg-list-table td span.yes {
    color: #047216
}

.ctg-list-table td span.no {
    color: #8d051b
}

.ctg-list-table tr.ctg-custom-sizes-row {
    background-color: #ecefef;
    font-weight: 500;
}

.ctg-custom-size-list td {
    background-color: #ffffff !important;
}

.ctg-custom-size-list thead th {
    background-color: #047216 !important;
}

.ctg-custom-size-list thead th.ctg-title-cell {
    text-align: left !important;
}

.ctg-custom-size-list th,
.ctg-custom-size-list td {
    padding: 6px 3px !important;
}

.ctg-image-size-register-by {
    color: #acacac !important;
    font-weight: 100 !important;
}

.ctg-form-container {
    width: 100%;
    /* border-right: 1px solid lightgray !important;  */
    box-sizing: border-box;
}

.ctg-form-container legend h3 {
    font-weight: 400;
    font-size: 16px;
    margin: 0 auto;
}

.ctg-form-table th {
    color: #564475;
    text-align: right;
    text-transform: capitalize;
}

.ctg-form-table th, .ctg-form-table td {
    padding: 5px 0 5px 0;
    box-sizing: border-box;
}

.ctg-common-error {
    color: #cc0000;
    font-weight: 500;
}

.ctg-form-table {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.ctg-form-table td {
    vertical-align: top;
}

.ctg-form-table .ctg-form-cell {
    width: 30%;
}

.ctg-form-table .ctg-thumbs-cell {
    width: 67%;
}